header {
  margin-top: 3vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  text-align: center;
  width: 100%;
}

.auth-container {
  position: absolute;
  right: 3vw;
}

#navbar {
  background: none;
}
.header-logo{
  width: 774px !important;
  height: 60px !important;
}
.link-logo{
  width: 0px !important;
}